
@{
    ViewBag.Title = "Searchresult";
}

<style>
    h2 {
        text-align: center
    }

    p {
        text-align: center
    }
</style>

<h2 style="text-align:center">受注情報検索</h2>
<p>@ViewBag.id</p>
<p>@ViewBag.deliveryFrom～@ViewBag.deliveryTo</p>